name: Tasks-Dev

on:
  push:
    branches:
      - dev

jobs:
  copy_src_to_runner:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Clean Tasks-Dev
        run: rm -r ~/tasks-dev/*
      - name: Copy API to Tasks-Dev
        run: cp -r api/. ~/tasks-dev/api/
      - name: Copy UI to Tasks-Dev
        run: cp -r frontend/. ~/tasks-dev/frontend/
      - name: Copy Docker Compose to Tasks-Dev
        run: cp docker-compose.yml ~/tasks-dev/
    
  copy_envs_to_local:
    runs-on: self-hosted
    needs: copy_src_to_runner
    steps:
      - name: Copy docker envs
        run: cp ~/tasks-envs/.env-dev ~/tasks-dev/.env
      - name: Copy API envs
        run: cp ~/tasks-envs/api/.env-dev ~/tasks-dev/api/.env
      - name: Copy UI Dockerfile
        run: cp -rf ~/tasks-envs/ui/Dockerfile-dev ~/tasks-dev/ui/Dockerfile

  build_compose:
    runs-on: self-hosted
    needs: copy_envs_to_local
    steps:
    - name: Build Docker image
      run: |
        cd ~/tasks-dev
        docker-compose --env-file .env up
